<div fxLayout="column" class="outer">
    <div>
        <mat-toolbar color="primary">
            <span>Vehicle Database</span>
        </mat-toolbar>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-card>
            <h1>Sign In</h1>
            <form [formGroup]="loginForm">
                <mat-form-field>
                    <input matInput placeholder="Username" autocomplete="off" formControlName="username">
                    <mat-hint>*Required</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" autocomplete="off" formControlName="password">
                    <mat-hint>*Required</mat-hint>
                </mat-form-field>
                <div class="vspace"></div>
                <p>
                    <button mat-raised-button color="primary" (click)="login()">Login</button>
                </p>
            </form>
            <p>
                New User? <a routerLink="/register">Sign up here</a>
            </p>
        </mat-card>
    </div>
</div>

